a{
    text-decoration: none;
}

ul{
    padding: 0;
margin: 0;
}

li{
    list-style: none;
}

body{
margin: 0;
}

.wrapper{
width: 100%;
background: url(img/backgrounds/ap-ui.png)
no-repeat center/cover;
}

.container{
max-width: 1000px;
width: 100%;
margin: auto;
}

.begin{
   
   display: flex;
   flex-direction: column;
}

.header{
height: 65px;
display: flex;
}

.logo{
   padding-top: 20px;
 padding-right: 30px;
 padding-left: 30px;
    width: 95px;
}

.logo-link{
    color: #ffffff;
    width: 65px;
    height: 18px;
}

.nav{
    display: flex;
    align-items: center;
    width: 905px;
    justify-content: center;
}

.nav-list{
    display: flex;
}

.nav-item{
    padding-left: 60px;
}

.nav-link{
width: 637px;
height: 19px;
color: #ffffff;
}

.s1{
    margin-top: 175px;
    margin-bottom: 175px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.s1-h{
    width: 389px;
    color: #ffffff;
    text-align: center;
}

.s1-p{
    margin-top: 30px;
    width: 401px;
    opacity: 0.7;
    color: #ffffff;
    text-align: center;
}

.s1-link{
    width: 62px;
height: 14px;
color: #ffffff;
margin-top: 40px;
border: 2px solid #ffffff;
padding: 12px;
}

.s2{
display: flex;

}

.s2-img{
    width: 674px;
height: 427px;
}

.s2-text{
    margin-top: 50px;
width: 675px;
display: flex;
flex-direction: column;
align-items: center;
}

.s2-h{
    
    color: #252525;
    
}

.s2-p{
    width: 437px;
    height: 163px;
    color: #000000;
}

.s2-link{
    width: 164px;
    height: 16px;
    color: #f7f7f7;
    background-color: #05a0af;
    padding: 8px;
    align-items: center;
    
}

.s3{
    width: 100%;
height: 139px;
background-color: #373737;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.s3-h{
    
    color: #f7f7f7;
}

.s4{
display: flex;
}

.s4-div{
    width: 450px;
    height: 556px;
    background-color: #3d3d3d;
    display: flex;
flex-direction: column;
align-items: center;
justify-content: center;

}

.s4-div1{
    width: 450px;
    height: 556px;
    background-color: #097e89;
    display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.s4-div2{
    width: 450px;
    height: 556px;
    background-color: #3d3d3d;
    display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.s4-h{
    width: 234px;
    height: 55px;
    color: #f7f7f7;
    text-align: center;
}

.s4-p{
    width: 299px;
    height: 53px;
    color: #f7f7f7;
    text-align: center;
}

.s4-link{
    width: 116px;
height: 18px;
padding-top: 10px;
padding-bottom: 10px;
padding-right: 30px;
padding-left: 30px;
background-color: #959595;
    color: #f7f7f7;
}

.s5{
    width: 100%;
height: 139px;
background-color: #fefefe;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.s5-h{
color: #656464;
}

.s6-div{
    height: 151px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.s6-div1{
    height: 151px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
